@font-face {
    font-family: "GothamPro-Bold";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/GothamPro-Bold.ttf');
}
@font-face {
    font-family: "GothamPro-Medium";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GothamPro-Medium.ttf');
}
@font-face {
    font-family: "GothamPro";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GothamPro.ttf');
}